<div class="row">
    <h2>Вход / Регистрация</h2>
</div>
<div class="row">
    <form id="ux-form-auth" class="form-horizontal">
        <fieldset>
            <legend>Потребител</legend>
            <div class="form-group">
                <label for="email" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input class="form-control" id="email" placeholder="Email адрес" type="text" />
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-lg-2 control-label">Парола</label>
                <div class="col-lg-10">
                    <input class="form-control" id="password" placeholder="Парола" type="password" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="button" id="ux-btn-sign-up" class="btn btn-primary"><span class="fa">&#xf234;</span> Регистрация</button>
                    <button type="button" id="ux-btn-sign-in" class="btn btn-primary"><span class="fa">&#xf090;</span> Вход</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>