{{#if notAuthorized}}
<div class="row">
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Access Denided!</strong> You are not authorized to use this page.
    </div>
</div>
{{else}}
<div class="row">
    <h2><span class="fa">&#xf1c0;</span> Обекти</h2>
</div>
<div class="row">
    <ul class="breadcrumb">
        <li><a href="/#/">Начало</a></li>
        <li class="active">Обекти</li>
    </ul>
</div>
<div class="row">
    <div class="col-md-6">
        {{#if isAdmin}}
        <h3><span class="fa">&#xf055;</span> Създаване на нов обект</h3>
        <form id="ux-form-project" class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <label for="name" class="col-md-3 control-label">Име</label>
                    <div class="col-md-9">
                        <input class="form-control" id="name" placeholder="Име на обект" type="text" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="year" class="col-md-3 control-label">Година</label>
                    <div class="col-md-9">
                        <input class="form-control" id="year" placeholder="Година" type="number" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <button type="button" id="ux-btn-create-project" class="btn btn-primary"><span class="fa">&#xf067;</span> Създаване</button>
                    </div>
                </div>
            </fieldset>
        </form>
        {{/if}}
    </div>
    <div class="col-md-6">
        <h3><span class="fa">&#xf03a;</span> Списък с обекти</h3>
        <div class="loading-indicator text-center visible"><img src="images/loading.png" border="0" /></div>
        <table id="projects" class="table table-striped table-hover hidden">
            <thead>
                <tr>
                    <th width="60%">Име на обект</th>
                    <th width="40%" class="text-center">Действия</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
{{/if}}